body{
  background-color: #c9a66b;
  color: #662e1c;
  font-family: verdana;
}

.nombre{
  color: #af4425;
  text-align: left;
  text-decoration: underline;

}

.titulo{
  text-align: center;
}

.experiencia{
  text-decoration: underline;

}

.educacion{
  text-decoration: underline;
}

#titulo
{
  text-decoration: underline;
}
